* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}
//extend//
.position_cards{
    background-position: center;
    background-size: cover;
    text-decoration: none;
}
.barra {
    z-index: 5;
    padding: 0;
    div{
        left: 50%
    }
}


//mixin//
@mixin sizes($width, $bcolor) {
    width:$width;
    background-color:$bcolor
}

// ----  barra navegacion ---- //
.BotonNav{
    width: 100%;
    font-size: 27px;
}
.Logo{
    @media only screen and (max-width: 768px){
        position: relative;
        margin: 0;
        text-align: center;
    }
    @media only screen and (min-width: 769px){
        padding-left:5%;;
    }

}
.Menu{
    text-align: center;
    margin: 0;
    padding: 0;
    div{
    width: 100%;
    text-align:center;
    font-size:15px;
    }
}
.navbar-nav{
    padding-left:0;
    color:#444054;
}
// ---- carrousel ---- //
.carousel {
    text-align: center;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size:auto;
    position:relative;
}

.container-fluid {
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
}
    a {
        width: 100%;
        color: white;
        text-decoration: none;
    }
    h2 {
        text-align: center;
    }

// ---  //

// ----  cards servicios ---- //
.serviciosIndex{
    color:rgb(33, 22, 6);
    width:100%;
    margin:0;
    padding: 0 10%;
    text-align: center;
}
.card-body-index{
    border: 3px solid rgb(173, 122, 50);
    background-color: #fac9b8;
    margin:3% 0;
}
// ---  //

// ----  div contactanos ---- //
.contactanosIndex{
    color: rgb(33, 22, 6);
    background-color:#db8a74;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    height: 10rem;
    padding:1%
}
.contactanos{
    margin-top:0
}
// ---  //

// ----  div donde estamos ---- //
.tituloDondeEstamos {
    @extend .tituloNosotras;
}
// ---  //

// ----  div mapa ---- //
.mapaInfo{
    margin: 1% 0;
}
.ubicacionInfo{
    width: 100%;
    margin:1% 0;
    padding: 1%;
}
.info{
    padding-top:3%;
}
// ---  //

// ----  div nuestros trabajos ---- //
.tituloNuestrosTrabajos{
    @extend .tituloNosotras;
    text-align:center;
}

.bordesder{
    border-radius: 25px 0 0 25px ;
    @media only screen and (max-width:576px){
        border-radius: 25px 25px 0 0;
        border:3 solid rgb(33, 22, 6);
    }
}
.cardTextoder{
    padding:3% 0 2% 1%;
    border:3px solid rgb(33, 22, 6);
    border-radius: 0 25px 25px 0;
    @media only screen and (max-width:576px){
        padding: 1% 2%;
        border:3px solid rgb(33, 22, 6);
        border-radius: 0 0 25px 25px;
    }
}
.textosResponsive{
    @media only screen and (min-width: 830px){
        h3{
            font-size:22px;
        }
    }
    @media only screen and (max-width: 830px){
        h3{
            font-size:22px;
        }
    }
    @media only screen and (max-width: 444px){
        h2{
            font-size: 32px;
        }
        h3{
            font-size:20px;
        }
    }
}
.trabajosIndex{
    background-color: #DB8A74;
    margin:0;
    padding: 1% 5%;
    .cardImg{
        width: 100%;
        height: 60rem;
        @extend .bordesder, .position_cards;
        @media only screen and (min-width:1060px){
            height:40rem;
        }
        @media only screen and (min-width:960px){
            height:30rem;
        }
        @media only screen and (max-width:959px){
            height:20rem;
        }
    }
    .cardTexto{
        color: rgb(33, 22, 6);
        background-color: #FAC9B8;
        position:center;
        text-align: center;
        align-items: center;
        @extend .cardTextoder ,.textosResponsive;
    }
    hr{
        border: 1px solid rgb(33, 22, 6);
    }
    .maquillajeNovia{
        background-image: url(../img/noviaimg.jpg);
    }
    .maquillajequinceañera{
        background-image: url(../img/quinceanera4.jpg);
    }
    .maquillajesocial{
        background-image: url(../img/curso3.jpg);
    }
    .pestañas{
        background-image: url(../img/pestana3.jpg);
    }
    .cejas{
        background-image: url(../img/cejas1.jpg);
    }
    .peluqueria{
        background-image: url(../img/pelo5.jpg);
    }
    .maquillajeNovia{
        background-image: url(../img/noviaimg.jpg);
    }
    .maquillajeNovia{
        background-image: url(../img/noviaimg.jpg);
    }
}

// ----  contacto ---- //
.contacto {
    color: white;
    text-shadow: 0 2px 0 black;
    padding:0 10%;
    height: 80vh;
    position: relative;
    background-image: url(../img/fondo2.jpg);
    @extend .position_cards;
}

// ----  nosotras ---- //
.nosotras {
    // background-image: url(../img/fondo2.jpg);
    text-align: center;
    position: cover;
}
.tituloNosotras{
    // position:sticky;
    // display: inline-block;
    // top:10px;
    // border-radius:0 0 15px 15px ;
    // border-left: 5px solid black;
    // border-right: 5px solid black;
    // border-bottom:2px solid black;
    margin: 0;
    padding: 1%;
    background-color: white;
    width: 100%;
    z-index: 10;
    h2{
    font-size:65px;
    display: inline-block;
    text-align: center;
    @media only screen and (max-width:487px){
        font-size:45px;
    }
    @media only screen and (max-width:337px){
        font-size:35px;
    }
    }
}
.card-nosotras{
    padding:5% 3%;
    margin:0;
    // background-image: url(../img/fondomaquilaje.jpg);
    .card-img{
        border: 4px solid black;
        width:75%;
        height:30rem;
        filter: grayscale(100%);
    }
    .card-img:hover {
        filter: grayscale(0%);
    }
    .card-body{
        text-align: center;
    }
}
.descripcionNosotras{
    color: white;
    background-color:#212529;
    border-top: 3px solid black;
    text-align: center;
    padding: 5%;
    height: 10rem;
}
.tituloNuestroEspacio{
    @extend .tituloNosotras
}

.nuestroEspacio{
    margin: 0;
    padding: 1% 3%;
    position: center;
    .lugar{
        padding:2%;
    }
}


// ----  galeria ---- //
.galeria {
    @include sizes(100%,white);
    .article1,.article2,.article3,.article4,.article5,.article6 {
        z-index: 2;
        padding: 10px;
    }
}
// ---  //

// ----  footer ---- //
footer {
    height: 23vh;
    background-color:#444054;
    color: white;
    margin: 0;
    padding: 3%;
}

.contactoFooter{
    height:100%;
    position: left;
    div{
        font-size:15px;
    }
    .infoWsp, .correo, .LogoInsta {
        @media only screen and (max-width:455px){
        font-size: 10px;}
    }
}
//  ---  //

// ----  BOTONES ---- //
.Boton {
    bottom: 5px;
    height: 60px;
    width: 60px;
    position: fixed;
    text-align: center;
    line-height: 45px;
    background-color: #fac9b8;
    border: 3px solid white;
    font-size: 35px;
    border-radius: 40% 0;
    z-index: 15;
    text-decoration: none;
    a {
        text-decoration: none;
        color:white;
    }
}
.BotonVolver {
    left: 3%;
    border-radius: 0 40%;
    color: #444054;
    border: 3px solid black; 
    @extend .Boton;
}
.BotonSubir{
    right: 3%;
    font-size: 45px;
    color: #444054;
    border: 3px solid black; 
    @extend .Boton;
    position: fixed;
}
.BotonSubir:hover , .BotonVolver:hover{
    color:black;
    background-color:#fac9b8;
    border:3px solid black;
}
.botonContacto{
    margin:1%;
    padding:10px 20px;
    border-radius: 10px;
}
.botonContacto:hover{
    color:white;
    background-color:#fac9b8;
    border:3px solid white;
}
.botonGaleria{
    align-items: center;
    width: 100%;
}