* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}
//extend//
.position_cards{
    background-position: center;
    background-size: cover;
}
.barra {
    z-index: 5;
    padding: 0;
    div{
        left: 50%
    }
}
.Boton {
    bottom: 5px;
    height: 60px;
    width: 60px;
    position: fixed;
    text-align: center;
    line-height: 45px;
    background-color: black;
    border: 3px solid white;
    font-size: 35px;
    border-radius: 40% 0;
    z-index: 15;
    text-decoration: none;
    a {
        text-decoration: none;
        color:white;
    }
}

//mixin//
@mixin sizes($width, $bcolor) {
    width:$width;
    background-color:$bcolor
}

// ----  barra navegacion ---- //
.BotonNav{
    width: 100%;
    font-size: 27px;
}
.Logo{
    @media only screen and (max-width: 768px){
        position: relative;
        margin: 0;
        text-align: center;
    }
    @media only screen and (min-width: 769px){
        padding-left:5%;;
    }

}
.Menu{
    text-align: center;
    margin: 0;
    padding: 0;
    div{
    width: 100%;
    text-align:center;
    font-size:15px;
    }
}
.navbar-nav{
    padding-left:0;
}
// ---- carrousel ---- //
.carousel {
    text-align: center;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.container-fluid {
    text-align: center;
    margin: 0;
    padding: 0;}
    a {
        width: 100%;
        color: white;
        text-decoration: none;
    }
    h2 {
        text-align: center;
    }

// ----  cards ---- //
section {
    display: inline-block;
    text-align: center;
    height: 80vh;
    z-index: 2;
    width: 100%;
    div {
        font-size: 20px;
        text-align: center;
        z-index: 2;
        card {
            height: 70vh;
            display: inline-block;
            border: 3px solid black;
            border-radius: 10px;
            overflow: hidden;
            padding: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            }
        }
}

.Descripcion {
    text-decoration: none;
}
.Novia{
    background-image: url(../img/noviaimg.jpg);
    @extend .position_cards;
    :hover {
    background-image: url(../img/noviaimg.jpg);
    @extend .position_cards;
    opacity: 0.7;
    }
}
.Quinceañeras {
    background-image: url(../img/quinceañeraimg.jpg);
    @extend .position_cards;
    :hover {
        background-image: url(../img/quinceañeraimg.jpg);
        @extend .position_cards;
        opacity: 0.7;
    }
}
.Social {
    background-image: url(../img/socialimg.jpg);
    @extend .position_cards;
    :hover {
        background-image: url(../img/socialimg.jpg);
        @extend .position_cards;
        opacity: 0.7;
    }
}

// ----  contacto ---- //
.contacto {
    color: white;
    text-shadow: 0 2px 0 black;
    padding:0 10%;
    height: 80vh;
    position: relative;
    background-image: url(../img/fondo2.jpg);
    @extend .position_cards;
}

// ----  nosotras ---- //
.nosotras {
    // background-image: url(../img/fondo2.jpg);
    text-align: center;
    position: cover;
}
.tituloNosotras{
    margin: 0;
    padding: 5%;
    h2{
    font-size:65px;
    display: inline-block;
    text-align: center;
    @media only screen and (max-width:487px){
        font-size:45px;
    }
    @media only screen and (max-width:337px){
        font-size:35px;
    }
    }
}
.card-nosotras{
    padding:5% 3%;
    margin:0;
    // background-image: url(../img/fondomaquilaje.jpg);
    .card-img{
        border: 4px solid black;
        width:75%;
        height:30rem;
        filter: grayscale(100%);
    }
    .card-img:hover {
        filter: grayscale(0%);
    }
    .card-body{
        text-align: center;
    }
}
.descripcionNosotras{
    color: white;
    background-color:#212529;
    border-top: 3px solid black;
    text-align: center;
    padding: 5%;
    height: 10rem;
}
.tituloNuestroEspacio{
    @extend .tituloNosotras
}
.nuestroEspacio{
    margin: 0;
    padding: 5% 3%;
    position: center;
}

// ----  galeria ---- //
.galeria {
    @include sizes(100%,#260502);
    .article1,.article2,.article3,.article4,.article5,.article6 {
        z-index: 2;
        padding: 10px;
    }
}
// ----  footer ---- //
footer {
    background: rgb(0,0,0);
    background: linear-gradient(143deg, rgba(0,0,0,1) 64%, rgba(255,128,0,1) 100%);    text-align: center;
    color: white;
    margin: 0;
    padding: 20px;
    font-size: 5px;
    font-family: "Oswald", sans-serif;
    z-index: 5;
}

.LogoInsta,
.LogoWsp,
.LogoGmail {
    color: white;
    width: 50px;
    height: 50px;
    font-size: 50px;
    padding: 15px;
}

.Ubicacion {
    color: white;
    width: 80px;
    height: 80px;
    right: 5px;
    padding: 10px;
}

.BotonVolver {
    left: 3%;
    border-radius: 0 40%;
    @extend .Boton;
}
.BotonSubir{
    right: 3%;
    font-size: 45px;
    @extend .Boton;
    position: fixed;
}